<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:locale" content="pt_BR" />
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | replace:'.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/{% if page.meta-img %}{{ page.meta-img }}{% else %}{{ site.meta-img }}{% endif %}" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="800" />
	<meta property="og:image:height" content="600" />
	<meta property="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/{% if page.meta-img %}{{ page.meta-img }}{% else %}{{ site.meta-img }}{% endif %}" />
	<meta property="twitter:image:width" content="800" />
	<meta property="twitter:image:height" content="600" />
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
    <meta property="twitter:title" content="{{ page.title }}" />
	<meta property="twitter:card" content="summary_large_image" />
    {% else %}
    <meta property="og:title" content="{{ site.title }}" />
	<meta property="og:type" content="website">
    <meta property="twitter:title" content="{{ site.title }}" />
    {% endif %}
	<meta property="og:site_name" content="Snarqie" />
	<meta property="twitter:site" content="@snarqie" />
	<meta property="twitter:creator" content="@snarqie" />
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | replace:'.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl | prepend: site.url }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/clean-blog.css" | prepend: site.baseurl | prepend: site.url }}">
    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl | prepend: site.url }}">
    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
